{% extends "blog/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-9">
            {% for item in categories.items %}
                <div class="row">
                    <div class="col-lg-12"><h1>{{ item.title }}</h1></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ item.text | truncate(500) | safe }}
                        <a href="{{ url_for('.item_identifier', item_id=item.id, item_name=item.name) }}">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">

            <div class="row">
                <h5>Popular Items</h5>
                <ul>
                    {% for item in top_items %}
                        <li><a href="{{ url_for('.item', item_name=item.name) }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if categories.has_next %}
        {{ render_pagination(categories, '.home') }}
    {% endif %}
{% endblock %}